@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='text'] {
  border-radius: 4px;
}

.turquoise {
  background-color: #1abc9c;
}

.pumpkin {
  background-color: #d35400;
}

.wisteria {
  background-color: #8e44ad;
}

.pomegranate {
  background-color: #c0392b;
}

.river {
  background-color: #3498db;
}

.belize {
  background-color: #2980b9;
}
