@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='text'] {
  border-radius: 4px;
}

.turquoise {
  background-color: #1abc9c;
}

.pumpkin {
  background-color: #d35400;
}

.wisteria {
  background-color: #8e44ad;
}

.pomegranate {
  background-color: #c0392b;
}

.river {
  background-color: #3498db;
}

.belize {
  background-color: #2980b9;
}

.pac-container {
  background: none;
  border-color: rgba(0, 0, 0, 0.2);
  animation: 1s ease fadeIn;
}
.pac-item {
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  font-family: 'Roboto', sans-serif;
}
.pac-item-query {
  font-size: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.pac-item:hover {
  background-color: rgba(50, 80, 240, 0.3);
}

.pac-logo::after {
  display: none;
}

.pac-icon {
  fill: red;
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  50% {
    background-color: #ff4136;
  }
  100% {
    background-color: #001f3f;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    transform: translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform: translateZ(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(startYposition);
  }
  100% {
    opacity: 0;
    transform: translateY(endYposition);
  }
}
